<div class="converterContainer">
  <div class="currenciesContainer">
    <div class="currencyWrapper">
      <div class="currencyContainer">
        <app-currency-search [dataCode]="currencies.values[0]"></app-currency-search>
        <app-currency-input [dataRate]="currencies.values[0]"></app-currency-input>
      </div>
      <img (click)="swapCurrencies()" class="arrowsImg" src='assets/arrows.png' alt="arrows">
      <div class="currencyContainer">
        <app-currency-search [dataCode]="currencies.values[1]"></app-currency-search>
        <app-currency-input [dataRate]="currencies.values[1]"></app-currency-input>
      </div>
    </div>
    <div class="dateWrapper">
      <label for="date">Дата</label>
      <input [(ngModel)]="dateValue" (ngModelChange)="updateDate($event)" type="date" name="date" id="date" class="dataInput" min="2010-01-01" [max]="maxDate" >
    </div>
  </div>
</div>
