<div class="currenciesContainer">
  <div class="currencyWrapper">
    <app-currency [dataValue]="currencies.values[0]"></app-currency>
    <img class="arrowsImg" src='./assets/arrows.png'  alt="arrows">
    <app-currency [dataValue]="currencies.values[1]" ></app-currency>
  </div>
  <div class="dateWrapper">
    <label for="date">Дата</label>
    <input [(ngModel)]="dateValue" (ngModelChange)="updateDate($event)" type="date" name="date" id="date" class="dataInput" min="2010-01-01" [max]="maxDate" >
  </div>
</div>
